# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/app/rotaposto-keystore.jks
android/key.properties
android/.gradle/
android/local.properties
android/captures/
android/*.iml

# IDE
.idea/
*.iml
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
